.task--container {
  border: 1px solid lightgray;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: white;
}

.task--container.dragging {
  background-color: lightgreen;
}
