.task--container {
  border: 1px solid lightgray;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: white;
  display: flex;
}

.task--container.dragging {
  background-color: lightgreen;
}

.task--handle {
  background-color: rgb(82, 56, 9);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 8px;
}
